/*  your css code here. If applicable */
.b{
	background:#f5f5f5;
}
.head{
	background:#011e29;
	width:100%;
	padding:1px;
	text-align: center;
}
.content{
	color:white;
	text-align: center;
}
.container{
	display:flex;
	justify-content:center;
	flex-direction:row;
}
.latest-news-section{
	background:white;
	margin:2px;
	text-align: center;
	width:30%;
	height:30%;
}
.box2{
	background:white;
	margin:2px;
	text-align: center;
	width:30%;
	height:40%;
}
.pictorial-news-section{
	background:white;
	margin:2px;
	text-align: center;
	width:30%;
	height:70%
	
}
#pic{
	height:50%;
	width:100%
	
}